*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
.pbtn:hover {
    box-shadow: 2px 1px 21px 0px #ff42a5;
}
.main{
    max-width: 80%;
    margin: auto;
}
img{
    max-width: 100%;
}
/* mainsecton */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.navlogo{
    display: flex;
    align-items: center;

}
.navlogoimg{}
.navlogoimg img {
    height: 30px;
    margin: 12px 15px 0 0;
}
.navlogtitle{}
.navlogtitle h2 {
    font-size: 2.4rem;
}
.navlogtitleS{
    color: #ff42a5;
}

.navmenu{
    display: flex;
    gap: 20px;
}
.navmenu ul {
    display: flex;
    gap: 20px;
    align-items: center;
}
.navmenu ul li{
    list-style: none;
}
.navmenu ul li a{
    text-decoration: none;
    color: #3C354F;

}
.navmenu .youtik {
    background: #e7e6e9;
    padding: 8px;
    border-radius: 5px;
}
.navmenu .youtik p{}
.navmenu .youtik a{
    margin-left: 10px;
}
.navmenu .youtik .tiktokk{
    color: black;
    font-size: 1.3rem;
}
.navmenu .youtik .youtube{
    color: red;
    font-size: 1.3rem;

}

/* bennarS */
.bennarS{
    background: #fcfbfe;
}
.bennarContent{
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    height: 410px;
}
.bennarContent{}
.bennarText{
    padding-top: 60px;
}
.bennarText h5 {
    margin-bottom: 10px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
}
.bennarText h1 {
    font-size: 2.8rem;
    font-weight: 800;
    color: #af52db;
}
.bennarText ul{
    margin: 30px 0;
}
.bennarText ul li {
    list-style: none;
    color: #3C354F;
    line-height: 1.5rem;
}
.bennarText ul li span{
    margin-right: 1.3rem;
    color: #ff42a5;
}
.pbtn {
    background: #ff42a5;
    border: none;
    border-radius: 17px;
    padding: 12px 20px;
    color: white;
    transition: .5s;
}
.gobtn{
    background: #4ec5f7;
    border: none;
    border-radius: 17px;
    padding: 12px 20px;
    color: white;
    margin-left: 20px;
}
.bennarText {}
.bennarIMG {
    width: 430px;
    /* background-image: url(./images/Group\ 18.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat; */
}
.bennarIMG img{
    max-height: 100%;
}

/* WgamerS */

.WgamerS{
    background: #fff9fc;
    margin-top: 20px;
}
.Wgamercontent{
    display: flex;
    justify-content: space-between;
}
.WGIMG{
    width: 70%;
}
.WGtext {
    width: 30%;
    text-align: right;
    margin-top: 56px;
}
.WGtext h1 {
    color: #ff42a5;
}
.WGtext p {
    color: #534C64;
    font-size: 14px;
    margin: 15px 0;
}
.WGtext small {
    margin: 14px 0;
    display: inline-block;
}
.WGtext h4 {
    color: #534C64;
    font-size: 20px;
}

/* onlineS */

.onlineS{}
.onlineH{
    text-align: center;
}
.onlineH h1{
    font-size: 2.3rem;
}
.onlineSpan{
    color: #b551d7;
}
.onlineH p{
    color: #534C64;
    margin: 20px 0;
}

.funnyVS{
    display: flex;
    gap: 20px;
}
.funnySC{
    width: calc((100% - 20px) / 4);

}
.funnySC p{
    color: #534C64;
    margin-top: 15px;
}
.funnyimg{
    position: relative;
}
.fimgHover {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    background: hwb(0deg 8% 90% / 55%);
    height: 100%;
    width: 100%;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.funnyimg:hover .fimgHover{
    visibility: visible;
    opacity: 1;
}
.fimgHover p{
    color: red;
}
.fimgHover a{
    color: #ffffff;
    font-size: 3rem;
    margin-top: 50px;
}
/* .funnyimg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: hwb(0deg 8% 90% / 55%);
    height: 100%;
    width: 100%;
    color: red;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
} */
/* .funnyimg:hover::after{
    visibility: visible;
    opacity: 1;
} */

@media screen and (max-width: 576px) {
    nav,
    .navmenu,
    .bennarContent,
    .Wgamercontent,
    .funnyVS
    {
        flex-direction: column;
    }
    .WgamerS{
        display: none;
    }
    .bennarContent,
    .funnyVS
    {
        text-align: center;
    }
}